
#BackGroundSet{
    background-image: url("../image/Background3.jpg");
    background-repeat: no-repeat; 
    background-size:auto; 
    background-position:left;
    background-attachment: fixed;
}

#titlebarbg{
    background-color: rgba(184, 172, 255, 0.7);
    border-radius: 30px;
    margin-top:30px;
    margin-bottom: 30px;
}

#MNIST_SetStyle{
    background-color: rgba(255, 255, 255, 0.8);
    outline:thick;
    outline-style: ridge;
    outline-color: pink;
    margin-left:10px;
    margin-right: 10px;
}
